@{
    ViewData["Title"] = "News";
}

<div class="news-and-actions">
    <div class="more-n-a">
        <h5>Самое захватывающее, яркое и масштабное IT-соревнование года. Это больше, чем хакатон</h5>
        <img src="https://www.muctr.ru/upload/iblock/45c/j0qpeq6kr4r4zlx8q33h489u3xzhhy2l.png" />
        <div>
            <p>Открыта регистрация на конкурс Лидеры цифровой трансформации, где тысячи студентов и представителей IT-профессий создадут сервисы для улучшения жизни горожан.<br>
            </p>
            <br>
            <p>
            - Призовой фонд 20 000 000 рублей.
            </p>
            <p>
            - 10 востребованных городом задач.
            </p>
            <p>
            - Подарки от партнеров и эксклюзивный мерч для финалистов.
            </p>
            <p>
            - Уникальный опыт, который сможешь отразить в портфолио.
            </p>
            <p>
            - Шанс найти будущего работодателя или попасть на стажировку.
            </p>
            <p>
            ⠀
            </p>
            <p>
            Принять участие могут студенты 18 лет, в составе команд от 2 до 5 человек.&nbsp;
            </p>
            <p>
            Приглашаются:
            </p>
            <p>
            - Front/ back/ fullstack разработчики.
            </p>
            <p>
            - Product и project-менеджеры..=
            </p>
            <p>
            - Data scientists, engineers.
            </p>
            <p>
            - Дизайнеры.
            </p>
            <p>
            - Маркетологи.
            </p>
            <p>
            - Аналитики.
            </p>
            <p>
            - IT-предприниматели.
            </p>
            <p>
            <b><u>Прием заявок открыт до 31 октября 2022 года.</u></b>
            </p>
            <p>
            <a href="https://bit.ly/3qk70KT">Подробнее.</a>
            </p>
            <p>
            &nbsp;&nbsp;<br>
            </p>
            <br>
            <br> 
        </div>
    </div>
</div>
