@model EventsList
@{
    ViewData["Title"] = "События";
}

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllActions">Последние события</a>
</div>
<ul class="news-and-actions">
    @foreach(Events item in Model.Events)
    {
    <li class="container">
        <img src="@item.mediaUrl" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetActions" asp-route-id="@item.id">@item.title</a></h5>
            <p>@Html.Raw(item.description.Split("<br>")[0])</p>
        </div>
    </li>
        @if(item != Model.Events.Last())
        {
            <div class="for-border"></div>   
        }
    }
</ul>