@model NewsList
@{
    ViewData["Title"] = "Новости";
}

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllNews">Новостная лента</a>
</div>
<ul class="news-and-actions">
    @foreach(News item in Model.News)
    {
    <li class="container">
        <img src="@item.mediaUrl" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetNews" asp-route-id="@item.id">@item.title</a></h5>
            <p>@Html.Raw(item.description.Split("<br>")[0])</p>
        </div>
        </li>
        @if(item != Model.News.Last())
        {
            <div class="for-border"></div>   
        }
    }
</ul>