@{
    ViewData["Title"] = "News";
}

<div class="news-and-actions">
    <div class="more-n-a">
        <h5>ОТКРЫТА ЛАБОРАТОРИЯ МИРОВОГО УРОВНЯ ПРИ КАФЕДРЕ ФИЗИЧЕСКОЙ ХИМИИ</h5>
        <img src="https://www.muctr.ru/upload/iblock/6a7/qckar4yx4byy5cw2r02r03hedshvpei7.jpg" />
        <p>
        В РХТУ им. Д.И. Менделеева на кафедре физической химии состоялось торжественное открытие новой «Лаборатории функциональных материалов для молекулярной электроники». Техническое оснащение лаборатории мирового уровня осуществлено в рамках участия университета в программе стратегического академического лидерства «Приоритет 2030».
        </p>
        <p>
        В приветственной речи <b>Илья Воротынцев</b>, и.о. ректора РХТУ, отметил обеспеченность новой структуры всем необходимым для организации научных исследований мирового уровня. Он подчеркнул, что открытая лаборатория стала новой точкой глобальной науки, в которой осуществляются международные коллаборации, в том числе с коллегами, работающими на крупных синхротронных установках в Гренобле.
        </p>
        <p>
        Исследовательская работа научной группы нового подразделения РХТУ будет сфокусирована на создании систем на основе мономолекулярных слоев фоточувствительных соединений и исследовании их свойств. <i>«Приоритетными направлением станет разработка ультратонких полифункциональных систем для применения в органических люминофорах, молекулярных машинах, наноразмерных «интеллектуальных» покрытиях, миниатюрных фотовольтаических устройствах, сенсорных элементах, фактически реализуя развитие фундаментальных основ создания элементов нанофотоники и приборов нового поколения»</i>, - прокомментировала проректор по науке <b>Анна Щербина</b>, курирующая создание лаборатории.
        </p>
        <p>
        <b>Олег Райтман</b>, завкафедрой физической химии, рассказал о важности вовлечения студентов в мир науки. <i>«Наша лаборатория активно участвует в образовательном процессе. Здесь представлено самое современное оборудование - спектрофотометры, флуориметры, ИК-сп<del>р</del>ектрометры,</i> <i>установки для изучения монослоев Ленгмюра и формирования наноразмерных функциональных покрытий, приборы для электрохимических исследований, оптоволоконные спектрометры. Сюда приходят студенты, чтобы на практике узнать все то, что они изучают в процессе освоения базового курса физической химии. У нас сформировалась большая группа молодых исследователей - порядка 15 студентов и аспирантов». </i>
        </p>
    </div>
</div>