@{
    ViewData["Title"] = "Home Page";
}

<div class="swiper mySwiper swiper-h">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background: url('../img/crs_1.jpg');">
            <p>
                <strong>Образование</strong> <br />
                65 профессий по 6 стратегическим меганаправлениям:<br>
                - зеленые технологии,<br>
                - химическое производство будущего,<br>
                - технологии двойного назначения,<br>
                - образование для будущего,<br>
                - геном материалов,<br>
                - качество жизни.<br>
            </p>
        </div>
        <div class="swiper-slide">
            <div class="swiper mySwiper2 swiper-v">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Vertical Slide 1</div>
                <div class="swiper-slide">Vertical Slide 2</div>
                <div class="swiper-slide">Vertical Slide 3</div>
                <div class="swiper-slide">Vertical Slide 4</div>
                <div class="swiper-slide">Vertical Slide 5</div>
            </div>
            <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="swiper-slide">Horizontal Slide 3</div>
        <div class="swiper-slide">Horizontal Slide 4</div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllNews">Новостная лента</a>
</div>
<ul class="news-and-actions">
    @for(int i = 0; i < 3; i++)
    {
    <li class="container">
        <img src="https://www.muctr.ru/upload/iblock/6a7/qckar4yx4byy5cw2r02r03hedshvpei7.jpg" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetNews">ОТКРЫТА ЛАБОРАТОРИЯ МИРОВОГО УРОВНЯ ПРИ КАФЕДРЕ ФИЗИЧЕСКОЙ ХИМИИ</a></h5>
            <p>В РХТУ им. Д.И. Менделеева на кафедре физической химии состоялось торжественное открытие новой «Лаборатории функциональных материалов для молекулярной электроники». Техническое оснащение лаборатории мирового уровня осуществлено в рамках участия университета в программе стратегического академического лидерства «Приоритет 2030».</p>
        </div>
        </li>
        @if (i != 2)
        {
         <div class="for-border"></div>   
        }
    }
</ul>

<div class="headers-of-main-page">
    <a asp-controller="Home" asp-action="GetAllActions">Последние события</a>
</div>
<ul class="news-and-actions">
    @for(int i = 0; i < 3; i++)
    {
    <li class="container">
        <img src="https://www.muctr.ru/upload/iblock/45c/j0qpeq6kr4r4zlx8q33h489u3xzhhy2l.png" />

        <div>
            <h5><a asp-controller="Home" asp-action="GetActions">Самое захватывающее, яркое и масштабное IT-соревнование года. Это больше, чем хакатон</a></h5>
            <p>Открыта регистрация на конкурс Лидеры цифровой трансформации, где тысячи студентов и представителей IT-профессий создадут сервисы для улучшения жизни горожан</p>
        </div>
    </li>
    @if (i != 2)
        {
         <div class="for-border"></div>   
        }
    }
</ul>
