@{
    ViewData["Title"] = "Departments";
}

<div class="headers-of-main-page">
    <h2>Факультеты и кафедры</h2>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @for (int i = 0; i < 8; i++)
    {
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading-@i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="true" aria-controls="panelsStayOpen-collapse-@i">
                    Факультет цифровых технологий и химического инжиниринга
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@i">
                    <div class="accordion-body">
                    Факультет цифровых технологий и химического инжиниринга (ЦиТХИн) создан в 2019 году в результате объединения факультета информационных технологий и управления и факультета инженерной химии. В состав факультета ЦиТХИн входят общеобразовательные кафедры инженерной подготовки и специальные кафедры, выпускающие бакалавров и магистров по химико-технологическим, инженерным и информационно-технологическим направлениям подготовки.

                    <br><br>Объединение двух школ, имеющих высокий авторитет и большие традиции, в один мощный факультет позволяет идти в ногу со временем, осуществляя универсальную и эффективную подготовку востребованных кадров с современным инженерно-химическим и информационно-технологическим образованием.

                    <br><br>Выпускники факультета специализируются:

                    <br>– в области компьютерного моделирования и цифрового проектирования отдельных элементов оборудования, технологического оборудования в целом, производственных сооружений;

                    <br>– в области создания материалов и технологий защитных покрытий для авиации, ракетостроения, машиностроения, автомобилестроения, нефтехимии и газохимии, фармацевтики, пищевой промышленности;

                    <br>– в области разработки информационных систем и программного обеспечения с использованием самых современных методов и инструментов разработки;

                    <br>– в области компьютерного моделирования, проектирования и управления процессами и технологическими системами; прогнозирования свойств и синтеза наноматериалов с заданными свойствами для химии, фармацевтики и биотехнологии;

                    <br>– в сфере организации, управления и стратегического бизнес-планирования деятельности инновационных наукоёмких предприятий нефтегазохимического комплекса;

                    <br>– в области управления процессами, производствами и предприятиями, контроля и управления качеством продукции, оценки риска и обеспечения экологической и промышленной безопасности производств;

                    <br>– в области решения актуальных задач для производств и цепей поставок нефтегазохимического комплекса: инжиниринга технологических схем, логистического управления деятельностью производств;

                    <br>– в области мембранного разделения газовых и жидких смесей, используемого при опреснении природных и очистки сточных вод, гемодиализе, пастеризации жидких пищевых продуктов, производстве безлактозного молока и т. п.;

                    <br>– в области стандартизации, сертификации, метрологии и управления качеством при производстве химической и пищевой продукции.

                    <br><br>Наиболее успевающие и активные студенты факультета ЦиТХИн имеют возможность участвовать в отечественных и международных научных проектах, проводимых на наших кафедрах под руководством профессоров и доцентов. Результаты их разработок публикуются в ведущих научных журналах. Студенты активно участвуют в конференциях, выезжают на стажировки и выставки за рубеж: в Австрию, Великобританию, Германию, Францию, Чехию и другие страны.

                    <br><br>В процессе обучения студенты факультета имеют возможность бесплатно повышать свою квалификацию по дополнительным программам в области информационных технологий параллельно с освоением основной образовательной программы, что подтверждается удостоверениями, выдаваемыми вместе с дипломом о высшем образовании.

                    <br><br>На факультете работает Компьютерный клуб, в рамках которого обучающиеся имеют возможность практиковаться в современных инструментах программирования и разработки информационных систем, создавать учебные и производственные объекты в среде виртуальной реальности. ЦиТХИн ежегодно организует учебные олимпиады по программированию и конкурсы разработчиков информационно-программного обеспечения.

                    <br><br>На факультете созданы малые инновационные предприятия, на которых работают наши студенты и апробируют результаты своей научной работы. Наши выпускники работают руководителями, ведущими инженерами, технологами, программистами, научными сотрудниками в крупных высокотехнологичных отечественных и зарубежных компаниях (Газпром, ЛУКОЙЛ, СИБУР, Татнефть, Дегусса, ASPEN, Петрофарм, Биокад, Акрихин). Многие выпускники создают свои собственные фирмы или работают в организациях, связанных с современными цифровыми технологиями.  
                    </div>
                    <a class="text-decoration-none btn btn-warning" asp-controller="Departments" asp-action="GetDepartment">Состав факультета/кафедры</a>
                </div>
            </div>
    }
</div>